/* subscribe form */
@media (max-width: 959px){
  .subscribe-section .uk-button {
    margin-top: 5px;
    width: 100%;
  }
}
.subscribe-form input {
  height: 49px!important;
}
.subscribe-section .far {
  color: #008ce1;
}